table {
    img {
        width: 60px;
        height: 60px;
        object-fit: cover;
    }
    td {
        text-align: center;
        padding: 10px;
    }
}

.success {
    color: green;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
}